
/* styles/main.css */
body {
	background: rgb(235,178,21);
}

h1 {
	color: white;
	text-align: center;
font-family: proxima-nova, sans-serif;
font-style: normal;
font-weight: 100;
	font-size: 115px;
	font-weight: bold;
	letter-spacing: 1px;
}

p {
	color: black;
	text-align: center;
	font-family: proxima-nova, sans-serif;
font-style: normal;
font-weight: 100;
	font-size: 25px;
}

#nav {
	text-decoration: none;
	color: white;
	font-size: 20px;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 100;

h1 {
	font-weight: bold;
	color: rgb(119,136,153);
	font-family: proxima-nova, sans-serif;
font-style: normal;
font-weight: 100;
}
p {
	text-align: left;
	color:rgb(119,136,153);
	font-family: proxima-nova, sans-serif;
font-style: normal;
font-weight: 100;
}
body{
	background: white ;
	font-family: proxima-nova, sans-serif;
font-style: normal;
font-weight: 100;
}

.navbar {
	padding:15px;
}

{box-sizing:border-box}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.buttons {
  background-color: white; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width:70px;
  height:50px;
}